{% extends 'base.html' %}
{% load static %}

{% block titulo %}
Home - OT
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}

{% block content%}
    <header class="min-h-screen bg-black bg-opacity-75 bg-blend-overlay showcase border-gray-600 border-b-8 flex
    justify-center items-center bg-cover bg-no-repeat" style="background-image: url('{% static 'images/trade.jpg' %}');">
        <div class="z-10 h-full py-32 md:py-0 text-gray-100 text-center flex items-center flex-col">
            <h1 class="font-semibold text-4xl md:text-5xl w-12/12 md:w-4/4 text-center">
                OLIVEIRA TRADE
            </h1>
            <h4 class="text-sm md:text-lg pb-3">
                Insira seu e-mail abaixo para acessar
            </h4>
            <div class="w-full flex justify-center">
                <div class="flex justify-center items-center w-11/12 md:w-10/12">
                    <form method="post" class="w-12/12 justify-center">
                        {% csrf_token %}
                        <div class="flex flex-grow items-stretch">
                            {{ form }}
                            <button class="bg-blue-600 font-medium md:font-normal flex justify-center items-center
                            py-2 px-3 md:px-0 rounded-br-sm rounded-tr-sm md:text-2xl" type="submit">
                                <span>
                                    Acessar
                                </span>
                                <ion-icon name="chevron-forward-outline" class="text-2xl"></ion-icon>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </header>
    <footer class=" px-5 py-10 ">
        <ul class="flex justify-between items-center">
            <li>&copy; 2022</li>
            <li> Feito com Python (Django)</li>
            <li>WiversonNogueira</li>
        </ul>
    </footer>
{% endblock %}